body {
    background: url('../img/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#message-container {
    color: #624b0a;
    font-size: 16px;
    text-align: left;
    width: 570px;
    margin: 15px auto 15px;
    word-break: break-all;
    padding: 30px;
    border-radius:10px;
    background-color: rgba(255,227,188,0.7);
}
#container {
    text-align: left;
    width: 530px;
    margin: 0 auto 50px;
    border-radius:10px;
    padding: 50px;
    background-color: rgba(255,255,255,0.9);
}

@media only screen and (max-width: 1000px) {
    #container, #message-container {
        width: 430px;
        padding-left: 35px;
        padding-right: 35px;
    }
}

#container div.section {
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 10px;
}

#container div.select {
    height: 110px;
}

#container div.check {
    height: 220px;
}

@media only screen and (max-height: 1150px) {
    #container {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    #container div.select {
        height:95px;
    }
}

#container div.submit {
    text-align: center;
    border: 0;
    height: auto;
    margin-bottom: 0;
}

#container div.last {
    border: 0;
}

p {
    font-size: 17px;
    font-family: "HelveticaNeue","Helvetica","Arial";
}

h1#title {
    font-size: 32px;
    color: white;
    text-align: center;
    margin-top: 30px;
    font-family: "HelveticaNeue","Helvetica","Arial";
}

select {
    height: 30px;
    width: 280px;
    font-size: 14px;
}

#instruction {
    display: block;
    padding-bottom: 5px;
}

/* Popup container */
.popup {
    color: #c19311;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
#popupNonCon .popupText, #popupCon .popupText {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popupText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#popupNonCon .show, #popupCon .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.dialog {
    display: none;
    overflow: scroll;
}

.selectBtn, #resetBtn {
    font-size: 14px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #f3991e;
    padding: 2px 15px;
    margin-bottom: 10px;
    color: #f3991e;
}

#resetBtn {
    padding: 5px 20px;
    font-size: 16px;
}

#submitBtn {
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 20px;
    color: white;
    background-color: #f3991e;
    border: 1px solid #f3991e;
    margin-right: 5px;
}

#submitBtn:hover {
    color: white;
    background-color: #f1c40f;
    border: 1px solid #f1c40f;
}

.selectBtn:hover {
    background-color: #f3991e;
    color: white;
    border: 1px solid white;
}

#resetBtn:hover {
    color: #f1c40f;
    border: 1px solid #f1c40f;
}

button:focus, textarea:focus {
    outline:0;
}

button:hover {
    cursor: pointer;
}

textarea {
    display: block;
    border: 0;
    background-color: rgba(248,248,248);
    width: 100% !important;
    font-size: 14px;
    height: 80px;
    min-height: 80px;
    border-bottom: 4px double #c19311;
}

.selectAll {
    margin-bottom: 20px;
}

table.optionList {
    display: inline-block;
    vertical-align: top;
}

.nonConformance, .conformance {
    white-space: nowrap; /* to ensure checkbox and text are in the same line */
}

#selectAllLabel {
    display: block;
}

footer {
    text-align: center;
    color: white;
    font-size: 13px;
}

/* animation - message */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,227,188,0.9);
    -webkit-background-color: rgba(255,227,188,0.7);
  }
  50% {
      -webkit-box-shadow: 0 0 0 12px rgba(255,227,188,0.6);
      -webkit-background-color: rgba(255,227,188,1);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,227,188,0);
      -webkit-background-color: rgba(255,227,188,0.7);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,227,188,0.9);
    box-shadow: 0 0 0 0 rgba(255,227,188,0.9);
    -moz-background-color: rgba(255,227,188,0.7);
    background-color: rgba(255,227,188,0.7);
  }
  50% {
      -moz-box-shadow: 0 0 0 12px rgba(255,227,188,0.6);
      box-shadow: 0 0 0 12px rgba(255,227,188,0.6);
      -moz-background-color: rgba(255,227,188,1);
      background-color: rgba(255,227,188,1);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,227,188,0);
      box-shadow: 0 0 0 0 rgba(255,227,188,0);
      -moz-background-color: rgba(255,227,188,0.7);
      background-color: rgba(255,227,188,0.7);
  }
}

/* animation - submit button */
@-webkit-keyframes pulseBtn {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulseBtn {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

/* For jquery UI resizable */
.ui-resizable-s {
    height: 20px !important;
}

.ui-wrapper {
    min-height: 88px;
}

/* For jquery UI dialog */
.ui-dialog {
    border-radius: 10px;
}

.ui-dialog-titlebar {
    background-color: #ffdf98;
    border-radius: 8px 8px 0 0;
}

.ui-widget-header {
    border: 2px solid #ffdf98;
}

.ui-button {
    background-color: #ffdf98 !important;
    border: 1px solid #fdbd67 !important;
    color: #985904 !important;
}

.ui-button:hover {
    background-color: #f1c40f !important;
    border-color: #f1c40f !important;
    color: white !important;
}

.ui-button:focus {
    outline:0;
}

.ui-dialog-title {
    color: #985904;
}

.ui-dialog-titlebar-close {
    border: 0 !important;
}

.ui-widget-content {
    border: 1px solid #f39f2e;
}