body {
    /*background: url('../img/MediaTek.png') no-repeat;*/
    /*background-size: auto;*/
    background-color: #e8e8e8!important;
    /*background-position: center;*/
    /*background-attachment: fixed;*/
    font-family: "HelveticaNeue","Helvetica","Arial";
}
.container h1 {
    font-size: 32px;
    text-align: center;
    margin: 30px auto 30px;
}
.card {
    border: none !important;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.card .btn-warning {
    color: #fff;
    margin-bottom: 10px; 
}
.card .btn-warning:hover {
    color: #fff;
}
.card .btn-warning:not(:disabled):not(.disabled):active {
    color: #fff;
}
.card .btn-info:not(:disabled):not(.disabled):active:focus {
    color: #fff;
}
.card .card-header {
    background-color: #155b62;
    color: #fff;
}
footer {
    text-align: center;
}