body {
    background: url('../img/bg2.jpg');
    background-size: cover;
    background-position: center;
}

#container {
    text-align: left;
    width: 530px;
    margin: 0 auto 50px;
    border-radius:10px;
    padding: 50px;
    background-color: rgba(255,255,255,0.9);
}

@media only screen and (max-width: 800px) {
    #container {
        width: 430px;
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media only screen and (max-height: 1000px) {
    #container {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

#container div {
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 10px;
}

#container div.select {
    height: 100px;
}

#container div.check {
    height: 160px;
}

#container div.submit {
    text-align: center;
    border: 0;
    height: auto;
    margin-bottom: 0;
}

#container div.last {
    border: 0;
}

p {
    font-size: 17px;
}

p.title {
    font-size: 32px;
    color: white;
    text-align: center;
    font-weight: 500px;
    margin-top: 30px;
}

select {
    height: 30px;
    width: 180px;
    font-size: 14px;
}

#nonConformanceDialog, #conformanceDialog {
    display: none;
    overflow: scroll;
}

#nonConformanceBtn, #conformanceBtn {
    font-size: 14px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #f3991e;
    width: 70px;
    margin-bottom: 10px;
    color: #f3991e;
}

#submitBtn {
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 20px;
    color: white;
    background-color: #f3991e;
}

#submitBtn:hover {
    cursor: pointer;
    color: white;
    background-color: #f1c40f;
    border-color: #f1c40f;
}

#submitBtn:focus {
    outline:0;
}

#nonConformanceBtn:hover, #conformanceBtn:hover {
    cursor: pointer;
    background-color: #f3991e;
    color: white;
    border: 1px solid white;
}

#nonConformanceBtn:focus, #conformanceBtn:focus {
    outline:0;
}

#showSelectedNon, #showSelected {
    display: block;
    border: 0;
    background-color: transparent;
    width: 100%;
    font-size: 14px;
    height: 60px;
}

#selectAllNonId, #selectAllId {
    margin-bottom: 20px;
}

textarea {
    overflow-y : auto; /* IE */
    resize : none; /* Firefox, Chrome */
}

textarea:focus {
    outline : 0; /* Chrome */
}

#non_options1, #non_options2, #options1, #options2 {
    display: inline-block;
    vertical-align: top;
}

@media only screen and (max-width: 1000px) {
    #non_options1, #non_options2, #options1, #options2 {
        display: block;
    } 
}

.nonConformance, .conformance {
    white-space: nowrap; /* to ensure checkbox and text are in the same line */
}

#selectAllLabel {
    display: block;
}